
/* font declarations */

/* color palette */
/*
blue (overstate): rgb(33,150,243), #2196F3;
*/


body {
  color: rgb(255,255,255);
  background: rgba(0, 0, 0, 0.80);	/* 100% black with 80% opacity */
  margin: 0 auto;
  padding: 10;
  font-family: verdana, calibri;
  font-size: 12px;
}

/* Temporary */
h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

p {
	text-align: center;
	font-style: italic;
	font-size: 1.2em;
}


